<div id="botaoAdm">
    <a href="#login_adm"><img src="img/transparente.png" id="transparente"></a> 
</div>

<div>
    <div id="textBox">Entre com seus dados nos campos abaixo.</div>
    <form class="jumbotron" id="formLogin">
        <entrar>Entrar</entrar>
        <input id="textfield" required="required" ng-model="login.usuario" placeholder="Número da matrícula" type="text"> 
        <input id="textfield" required="required" ng-model="login.senha" placeholder="Senha" type="password">
        <button type="submit" class="btn btn-success" ng-click="fazerLogin(login);" ng-disabled="!login.usuario || !login.senha">Entrar</button>
    </form> 
    <div id="senhaIncorreta">{{avisos}}</div>
    <!--textarea id="devID"></textarea-->
    <footer>
        Respondendo o questionário da CPA, você contribui com sua universidade e ainda ganha horas em atividades complementares.
    </footer>
</div>